Source: bbl-net-lib
Maintainer: berbascum
Section: libs
Priority: optional
Build-Depends: debhelper (>= 10),
               debhelper-compat (= 13),
Standards-Version: 4.5.0.3

Package: bbl-net-lib
Section: libs
Architecture: all
Depends: ${misc:Depends},
	 awk,
	 wget,
	 net-tools,
Description: berbascum's bash net functions
