Source: berb-bash-libs
Maintainer: berbascum
Section: utils
Priority: optional
Build-Depends: debhelper (>= 10),
               debhelper-compat (= 13),
Standards-Version: 4.5.0.3

Package: berb-bash-libs
Architecture: all
Depends: ${misc:Depends},
	 sudo,
Description: Bash libs for berbascum's bash tools
